extends layout
block content
  .container
    a(href='/') 
      h1
        i.icon-arrow-left 
        span contribute
    div.span2.btn.btn-success.add add
    div.span2.btn.btn-warning.save save
    hr
    div.row-fluid
        div.span1
            &nbsp;
        div.span3
            h2 Base Code
        div.span3
            h2 Answer
        div.span3
            h2 Problem Description
    hr
    div.class-container.sortable
block pagejs
  != js('http://code.jquery.com/ui/1.8.23/jquery-ui.min')
  != js('contribute')