extends layout
block content
  .container
    h1 contribute
    div.span2.btn.btn-success.add add
    div.span2.btn.btn-warning.save save
    div.row-fluid
        div.span4
            h2 Base Code
        div.span4
            h2 Answer
        div.span4
            h2 Problem Description
    hr
block pagejs
  != js('contribute')