extends layout
block content
  .container
    div.row
      div.span12.centerpiece
        span.gate 
          a(href="/student").gate student 
        span ||
        span.gate 
          a(href="/teacher").gate teacher
    div.row
      div.span12.centerpiece
        span.gate
          a(href="/contribute").gate contribute
    div.row
      div.span12.footer
        span epiphany.js &copy; Kieran Gorman 2012

