extends layout
block content
  .container
    h1
        | Class 
        span#class-num
    h3#connecting.pull-left
        | connecting...
    h3.pull-right#online
        | Users connected: 0
    div#class-text.well
    div.row
        div.span12
            textarea(rows='10', readonly='readonly')#scratch.span12
        .btn.btn-success#submit.span1
            | submit
        h4.span12 
            | use output("some text") to write into the console
        div.span12
            textarea(rows='10', readonly='readonly')#console.span12
                | >> 
        .btn.btn-info#nerd.span2
            | nerd mode
block pagejs
  != js('student')
