extends layout
block content
  .container
    h1
        | Teacher
    h3#connecting.pull-left
        | Connecting...
    h3#online.pull-right
        | Students online: 0
    div.row
        div.span12
             &nbsp;
block pagejs
  != js('teacher')
