extends layout
block content
  .container
    h1
        | Teacher
    h3#connecting.pull-left
        | Connecting...
    h3#online.pull-right
        | Students online: 0
    
block pagejs
  != js('teacher')
