@import 'nib'

.container
  margin-top 60px

h2
  smooth-button()
  width: 90%
  font-size: 2em

pre
  font-family: courier
  background-color: rgba(0,0,0,.8)
  color: yellow
  width: 100%
  margin-bottom: 20px
  padding: 10px
  border: 1px solid black

textarea
  max-height:200px  

div.centerpiece
  text-align :center
  margin-top :25%  

div.footer
  text-align :center
  margin-top :25%
  font-size  :0.5em

span.gate:hover
  color : #050505
a.gate
  text-decoration:none

div.student-box
  background-color #f3f3f3
  text-align center
  -moz-border-radius 20px
  -webkit-border-radius 20px

div.prog
  background-color #d5d5d5
  -moz-border-radius 5px
  -webkit-border-radius 5px
  margin-bottom 10px
  margin-left 0
  margin-right 0
div.lesson
  display inline
  padding-left 4%
  padding-right 4%
  margin 1px
div.lesson.complete
  background-color #6f6
div.lesson.incomplete
  background-color #f66







